<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<title>Editar libro</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">
			<img style="width: 100px;" src="https://anthoncode.com/wp-content/uploads/2019/01/nodejs-logo-png.png" alt="nodejs logo">
			CRUD NodeJS
		</a>
    </nav>
	<div class="container">
		<h1 class="mt-5 mb-5">Editar libro</h1>
		<a class="btn btn-primary mb-3" href="/">Atras</a>
		<form action="/update-book/<%- book.id %>" method="post" enctype="multipart/form-data">
			<div class="mb-3">
				<label class="form-label" for="name">Nombre</label>
				<input class="form-control" required id="name" name="name" value="<%- book.name %>" type="text"/>
			</div>

			<div class="mb-3">
				<label class="form-label" for="description">Descripcion</label>
				<textarea class="form-control" required id="description" name="description" type="text"><%- book.description %></textarea>
			</div>

			<div class="mb-3">
				<label class="form-label" for="author">Autor</label>
				<input class="form-control" required id="author" name="author" value="<%- book.author %>" type="text"/>
			</div>

			<div class="mb-3">
				<label class="form-label" for="price">Precio</label>
				<input class="form-control" required id="price" name="price" value="<%- book.price %>" type="text"/>
			</div>

			<div class="mb-3">
				<label class="form-label" for="image">Numero de paginas</label>
				<input class="form-control" required id="image" name="image" value="<%- book.pageNum %>"  type="text"/>
			</div>

			<div class="mb-3">
				<label class="form-label" for="image">Portada</label>
				<br>
				<input id="image" name="image" type="file" accept="image/*"/>
			</div>

			<button class="btn btn-success" type="submit">Crear</button>
		</form>
	</div>
</body>
</html>
