<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Lista de libros</h1>
	<a href="/new-book">Crear nuevo libro</a>
	<ul>
		<% books.forEach((book) => { %>
			<li>
				<%- book.id %> - <%- book.name %> - <%- book.author %> <a href="edit-book/<%- book.id %>">Editar</a> <a href="delete/<%- book.id %>">Borrar</a href="api/v1/">
			</li>
	  	<% }); %>
	</ul>
</body>
</html>
